<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Registration</title>
</head>
<body>
    <form ng-controller="UserRegistrationController">
        <div class="menuBar">
            <div class="form-inline">
                <div class="col-md-offset-6">
                    <div class="form-group">
                        <input type="text" id="txtUserName" placeholder="User Name"  ng-model="user.UserId" />
                        <input type="text" id="txtPassword" placeholder="Password"  ng-model="user.Password" />
                        <div class="form-group">
                            <input type="button" class="btn btn-primary" value="Sign In" ng-click="SignIn()" />
                            <a href="/#/register">Need to Sign Up ?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
</html>
